# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/bld
/bin
*.bak
/lib/debug/*.exp
/bld-2015
/lib/debug/libUnitTest++.lib.lastcodeanalysissucceeded
/doc/html
/doc/latex
/lib/debug/*.lastcodeanalysissucceeded
/lib/release/*.exp
